<!--
    Note:
        1. Use formControlName as id for each input field. 
    eg:
        <input type="text" formControlName="userName" id="userName"/>
-->


<div class="col-md-6 col-md-offset-3">
  <br/>
  <div class="panel">
    <div class="panel-heading ">Add a new Asset</div>
    <div class="panel-body">

      <form (ngSubmit)="addAsset()" [formGroup]="addAssetForm">
        <div class="form-group">
          <label for="assetName">Asset Name</label>
          <input type="text" class="form-control" id="assetName"  formControlName="assetName">
          <span class="help-block"  *ngIf="addAssetForm.get('assetName').invalid && addAssetForm.get('assetName').touched"
          >Please Enter Name</span>
          <label for="assetCategory">Asset Category</label>
          <select  id="assetCategory" formControlName="assetCategory" class="form-control">  
            <option disabled value="">Select a Category</option>  
            <option value="Laptop">Laptop</option>  
            <option value="Desktop">Desktop</option>  
            <option value="VoIP">VoIP</option>  
            <option value="Router2">Router</option>    
        </select> 
        <span *ngIf="addAssetForm.get('assetCategory').invalid && addAssetForm.get('assetCategory').touched "
        class="help-block">Please Select Category</span>
        <label for="assetDescription">Asset Description</label>
        <textarea  id="assetDescription" formControlName="assetDescription" class="form-control">
        </textarea>
        <span *ngIf="addAssetForm.get('assetDescription').invalid && addAssetForm.get('assetDescription').touched
        && (addAssetForm.get('assetDescription').value == undefined || addAssetForm.get('assetDescription').value.length <=0)  " 
         class="help-block">Please Enter Description</span> 
         <span *ngIf="addAssetForm.get('assetDescription').value && addAssetForm.get('assetDescription').value.length > 50" 
         class="help-block">Please Enter Description Max charaters 50</span>
        <label for="dateOfPurchase">Date of Purchase</label>
          <input type="text" class="form-control" id="dateOfPurchase" formControlName="dateOfPurchase" placeholder="mm/dd/yyyy">
          <span *ngIf="addAssetForm.get('dateOfPurchase').invalid && addAssetForm.get('dateOfPurchase').touched" 
           class="help-block">Date of purchase cannot be furure date</span>
          <label for="assetCost">Asset Cost</label>
          <input  type="number" class="form-control" id="assetCost" formControlName="assetCost" >
          <span *ngIf="addAssetForm.get('assetCost').invalid && addAssetForm.get('assetCost').touched" 
           class="help-block">Please Enter Cost</span>      
        
        </div>
        
        
          <button type="submit" class="btn btn-primary" 
          [disabled]="addAssetForm.invalid">Submit</button>
  
        </form>
      
        <span id="message" name="message" style="color: green;" >{{successMessage}}</span>
     
    </div>
  </div>
</div>
