<!-- 
    1. Add the code to link to the appropriate routes
    2. Add the tag required to load the view of routed componen
-->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Quebes</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="">Add Asset</a>
      </li>
      <li>
        <a routerLink="viewAsset">View Asset</a>
      </li>
    </ul>
    
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>